@import url('./assets/colors.css');

/* Reinicia márgenes y padding */
body {
  margin: 0;
  padding: 0;
  background-color: var(--neutral-color);

}

.os-pageFront{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}