@import url('../../assets/colors.css');

/* Estilos del componente Layout */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
    margin-top: 0px;
}

.os-layout-footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 1rem;
    margin-top: 20vh;
}

