* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.os-layout-nav {
    background-color: #B388EB;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.os-layout-footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 1rem;
    margin-top: 1000px;
}

/* Aseguramos que el contenido no quede oculto bajo el nav */
main {
    margin-top: 50px;
}