.os-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px; /* Set a fixed height */
}

.os-nav-header {
  margin: 10px;
  padding: 0;
  line-height: 1; /* Normalize line height */
}

.os-nav-options {
  margin: 10px;
  padding: 0;
  line-height: 1; /* Normalize line height */
}

.os-nav-options a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  margin-left: 20px; /* Space between links */
  line-height: 1; /* Normalize line height */
}