.os-product{
  color: #D1C4E9;
  display: flex;
  flex-direction: row;
  padding: 15px;
  width: 60%;
  
}
.os-product.os-product-even{
  margin-left: auto; /* Esto empuja el componente hacia la derecha */
  background-color: #4A4A4A;

}
.os-product-img{
  display: flex;
  width: 100px;
  margin: 10px;
}
.os-product-info{
  display: flex;
  flex-direction: column;
  border : 1px solid black;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0px;
}