:root{
  --primary-color: #5A217C   ;
  --secondary-color: #7E5191    ;
  --light-color: #A181A5    ;
  --accent-color: #FFBC42    ;
  --neutral-color: #E8E1CD    ;

  --white-color: white    ;
  --black-color: black    ;
}
