:root{
  --primary-color:#A181A5  ;
  --secondary-color: #9E71B1;
  --light-color: #5A217C;
  --accent-color: #FFD062;
  --neutral-color: #2C2C2C;
  
  /* Text and background colors */
  --white-color: black    ;
  --black-color: white    ;
}
