.document-container {
  max-width: 800px;
  width: 100%;
  margin: 2rem auto;
  margin-top: 10vh;
  padding: 2rem;
  background-color: var(--light-color);
  border: 2px solid var(--black-color);
  border-radius: 1rem;
}

.document-section {
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: var(--neutral-color);
  border-radius: 1rem;
}

.document-title {
  font-family: 'BigShoulders', sans-serif;
  margin-bottom: 1.5rem;
  text-align: left;
}

.document-title.level-1 {
  font-size: 2.5rem;
  color: var(--primary-color);
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 0.5rem;
}

.document-title.level-2 {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-top: 1.5rem;
}

.document-title.level-3 {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-top: 1rem;
}

.document-text {
  line-height: 1.6;
  margin: 1rem 0;
  color: var(--black-color);
  font-size: 1.2rem;
}

.level-2 {
  margin-left: 1.5rem;
  background-color: var(--white-color);
}

.level-3 {
  margin-left: 3rem;
  padding: 1rem;
  background-color: var(--neutral-color);
  border-left: 3px solid var(--accent-color);
}

@media (max-width: 768px) {
  .document-container {
    margin: 1rem;
    padding: 1rem;
  }
  
  .document-title.level-1 {
    font-size: 2rem;
  }
  
  .document-title.level-2 {
    font-size: 1.5rem;
  }
  
  .document-title.level-3 {
    font-size: 1.2rem;
  }
  
  .document-text {
    font-size: 1rem;
  }
}