.document-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}

.document-section {
  margin-bottom: 1.5rem;
}

.document-title {
  font-family: 'BigShoulders', sans-serif;
  margin-bottom: 1rem;
}

.document-title.level-1 {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.document-title.level-2 {
  font-size: 2rem;
  color: var(--accent-color);
}

.document-title.level-3 {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.document-text {
  line-height: 1.6;
  margin: 0.5rem 0;
  color: var(--black-color);
}

.level-2 {
  margin-left: 1.5rem;
}

.level-3 {
  margin-left: 3rem;
}